// Mixins and variables


@mixin bordersoft {
    -moz-border-radius:7px;
    -webkit-border-radius:7px; 
    border-radius:7px;
}

@mixin fontstyle {
    color:rgb(253, 253, 253);
    font-weight: 350;
    text-shadow: 0 0 1px rgb(253, 253, 253);
    font-family: FreeMono, monospace;
}

@mixin polygon{
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 2vw)
    );

}

//  Variables

$purple: rgb(66, 39, 84);
$small: 1160px;




//                   Header

#principal{
        @include polygon;
        @include fontstyle;
        background-color: $purple;
        text-align: center;
        height: 15em;
        width: 100%;
        padding-top: 7%;
}





//                  Header Menu


  
.headermenu{
 
    width: 74%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(245, 187, 28);
    @include bordersoft;
    padding: 2%;
    box-sizing: border-box;

}

.menucontent{
    display:inline-block;
   
}

.menucontent1{
    @include fontstyle;
    float: right;
    margin-right: 5em;
    @media screen and (max-width: $small) {
        float:none ;
   }
}

.menuform{
    @include bordersoft;
    width: 230px;
    height: 30px;
}
.menuselect{
    @include bordersoft;
    width:200px;
    height: 27px;
}

.menubutton{
    @include bordersoft;
    background-color:$purple;
    color: aliceblue;
    width: 80px;
    height: 40px;
    position: relative;
    right:20px;
    @media screen and(max-width: 565px){
        position: relative;
        left:5px;
    }
}





//                            Section



section{
    margin: 5% auto; 
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}



#content{
    margin: 10px;
    padding: 10px;
    @include bordersoft;
    flex: 1 1 200px; 
    display:inline-flex;
    flex-direction: column; 
    max-width: 300px;
    border: 2px solid $purple;
    font-weight: 350;
    text-shadow: 0 0 1px rgb(253, 253, 253);
    font-family: FreeMono, monospace;
    color: $purple;
}

#content > img{
    @include bordersoft;
}

.center{

    flex:1;
}

.bottom{
  
    flex: -1; 
    
}

.contentwarn{
    background-color:$purple;
    display: block;
    box-sizing: border-box;
    float: left;
    position:absolute;
    @include bordersoft;
    @include fontstyle;
    width: 120px;
    //height: auto;
    padding: auto;
    transform: translatex(-1em) translatey(-1em);
    //transform: translatey(-14em) translatex(-1em);
}
.clear{
    clear: left;
}

.section_button{
    @include bordersoft;
    margin: auto;
    background-color: transparent;
    border: 2px solid $purple;
    width: 90%;
    height: 40px;
    font-family: FreeMono, monospace;
    font-weight: 350;
    text-shadow: 0 0 1px $purple;
    font-size: 18px;
    &:hover{
        background-color:$purple;
        color:white;
    }
}






//                           Footer


.footer_align{
    align-self: left;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    overflow: hidden;
    text-align: left;
    width: 70%;
    color: rgb(66, 54, 64);
    @media screen and(max-width: 900px) {
        height: auto;
        width: auto;
        box-sizing: border-box;
        display:block;
        align-content: center;
        justify-content: center;
        padding:0;
        margin:auto;
        padding-right: 15px;
        
    }
}

.img_footer{
    height: 150px;
    @media screen and(max-width: 900px) {
        margin-left: 30%;
    }
}
.footer_content{
    margin-left: 100px;
    justify-content: left;
}


.bottom_footer{
    background-color: $purple;
    @include fontstyle;
    height: 110px;
    text-align: center;   
}

.bottom_footercontent{
    padding-top: 10px;
}