#principal {
  position: relative;
  height: 300px;
  background-color: #422754;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw));
  text-align: center;
}

.principal_content {
  padding: 70px;
  color: #fdfdfd;
  font-weight: 350;
  text-shadow: 0 0 1px #fdfdfd;
  font-family: FreeMono, monospace;
}

.headermenu {
  width: 74%;
  height: auto;
  margin: auto;
  margin-top: 5%;
  background-color: #f5bb1c;
  border-radius: 7px;
  padding: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menucontent {
  display: inline-block;
}

.menucontent1 {
  color: #fdfdfd;
  font-weight: 350;
  text-shadow: 0 0 1px #fdfdfd;
  font-family: FreeMono, monospace;
  float: right;
  margin-right: 5em;
}

@media screen and (max-width: 1160px) {
  .menucontent1 {
    float: none;
  }
}

.menuform {
  border-radius: 7px;
  width: 230px;
  height: 30px;
}

.menuselect {
  border-radius: 7px;
  width: 200px;
  height: 27px;
}

.menubutton {
  border-radius: 7px;
  background-color: #422754;
  color: aliceblue;
  width: 80px;
  height: 40px;
  position: relative;
  right: 20px;
}

@media screen and (max-width: 565px) {
  .menubutton {
    position: relative;
    left: 5px;
  }
}

section {
  margin: auto;
  width: 74%;
  text-align: center;
  font-family: FreeMono, monospace;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

@media screen and (max-width: 1650px) {
  section {
    display: initial;
  }
}

#content {
  display: -ms-grid;
  display: grid;
  border: solid 2px #422754;
  border-radius: 7px;
  overflow: hidden;
  padding: 1%;
  margin: 8% 1% 0% 1%;
  width: 80%;
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: grid;
}

@media screen and (max-width: 1650px) {
  #content {
    display: inline-block;
    border: solid 2px #422754;
    border-radius: 7px;
    overflow: hidden;
    padding: 1%;
    margin: 5%;
    width: 280px;
    height: 450px;
    text-align: center;
  }
}

.contentbottom {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
}

.content_img {
  width: 280px;
  height: 180px;
}

.section_button {
  border-radius: 7px;
  margin: auto;
  background-color: transparent;
  border: 2px solid #422754;
  width: 90%;
  height: 40px;
  font-family: FreeMono, monospace;
  font-weight: 350;
  text-shadow: 0 0 1px #422754;
  font-size: 18px;
}

.section_button:hover {
  background-color: #422754;
  color: white;
}

.contentwarn {
  background-color: #422754;
  position: relative;
  top: -42%;
  color: #fdfdfd;
  font-weight: 350;
  text-shadow: 0 0 1px #fdfdfd;
  font-family: FreeMono, monospace;
  padding: 8px;
  border-radius: 7px;
  width: 40%;
}

.contentxt {
  padding: 5%;
}

.footer_align {
  -ms-flex-item-align: left;
      align-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 15%;
  overflow: hidden;
  text-align: left;
  width: 70%;
  color: #423640;
}

@media screen and (max-width: 900px) {
  .footer_align {
    height: auto;
    width: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: auto;
    padding-right: 15px;
  }
}

.img_footer {
  height: 150px;
}

@media screen and (max-width: 900px) {
  .img_footer {
    margin-left: 30%;
  }
}

.footer_content {
  margin-left: 100px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.bottom_footer {
  background-color: #422754;
  color: #fdfdfd;
  font-weight: 350;
  text-shadow: 0 0 1px #fdfdfd;
  font-family: FreeMono, monospace;
  height: 110px;
  text-align: center;
}

.bottom_footercontent {
  padding-top: 10px;
}
/*# sourceMappingURL=main.css.map */